.about-wrapper {
    @media (min-width: 768px) {
        background-image: url("../Assets/pattern-curve-bottom-right.svg"), url("../Assets/pattern-curve-top-left.svg");
        background-repeat: no-repeat;
        background-size: 900px;
        background-position-y: 10%, 100%;
        background-position-x: -400px, 300px;
    }

    @media (min-width: 1200px) {
        background-size: 50%;
        background-position-y: 20%, 100%;
        background-position-x: -20%, 110%;
    }
    @media (min-width: 2000px) {
        background-size: 1000px;
    }




    // =========================== Container 
    .about-container {
        @include width-mixinn;
        padding-bottom: 7rem;

        @media (min-width: 768px) {
            padding-bottom: 9rem;
            text-align: center;
        }

        @media (min-width: 1200px) {
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            text-align: left;
        }




        // =========================== Card 
        .about-card {
            @media (min-width: 1200px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
            }

            .about-img {
                width: 100%;
                margin-top: -4.5rem;
                margin-bottom: 3rem;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    
                @media (min-width: 768px) {
                    width: 90%;
                    margin-top: -6rem;
                    box-shadow: rgba(24, 24, 26, 0.3) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
                }
    
                @media (min-width: 1200px) {
                    width: 550px;
                    margin-top: -5rem;
                }
            }
        }




        // =========================== Card in reverse
        .about-card-reverse {
            position: relative;
            flex-direction: row-reverse;

            .about-img {
                margin: 6rem 0 3rem;
                
                @media (min-width: 1200px) {
                    margin: 3rem 0 -5rem;
                }
            }

            .pattern-img {
                display: none;

                @media (min-width: 768px) {
                    display: initial;
                    position: absolute;
                    right: -30px;
                    top: 40%;
                    width: 130px;
                }

                @media (min-width: 1200px) {
                    right: -70px;
                    top: 50%;
                    width: 150px;
                }
            }
        }
    }
}