// Light color.
$light-text: #ffffff;
$light-bg: #ffffff;
$light-gray-text: #ededed;
$light-gray-bg: #ededed;

// Dark colors.
$dark-text: #111111;
$dark-bg: #111111;
$extra-dark-bg: #000000;

// Other colors.
$gold: #9e7f66;


// Typography.
$ff-main: 'Spartan', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;



// General
@mixin width-mixin {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}

@mixin width-mixinn {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}
@mixin width-1200{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}