// Light color.
$light-text: #ffffff;
$light-bg: #ffffff;
$light-gray-text: #ededed;
$light-gray-bg: #ededed;

// Dark colors.
$dark-text: #111111;
$dark-bg: #111111;
$extra-dark-bg: #000000;


// Typography.
$ff-main: 'Spartan', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;