.booking-content-wrapper {
    background: url("../Assets/ready-bg-mobile.jpg") top/cover no-repeat;
    height: 550px;

    @media (min-width: 768px) {
        background: url("../Assets/ready-bg-tablet.jpg") center/cover no-repeat; 
        height: 640px;
    }
    @media (min-width: 1200px) {
        background: url("../Assets/ready-bg-desktop.jpg") center/cover no-repeat; 
        height: 700px;
    }




    // ================================= Container
    .booking-content-container {
        @include width-1200;
        color: $light-text;
        text-align: center;
        padding-top: 4rem;

        @media (min-width: 768px) {
            text-align: left;
        }




        // ================================= Content Container
        .booking-content {
            @media (min-width: 1200px) {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 7rem;
            }




            // ================================= Main Text
            .booking-content-text {
                margin: 3rem 0;

                @media (min-width: 768px) {
                    text-align: center;
                    margin: 4rem 0 2rem;
                }
                @media (min-width: 1200px) {
                    text-align: left;
                    margin: 0;
                }

                h1 {
                    font-size: 2rem;
                    font-weight: $fw-light;
                    letter-spacing: -0.4px;

                    @media (min-width: 768px) {
                        font-size: 3rem;
                    }
                    @media (min-width: 1200px) {
                        font-size: 3.5rem;
                    }
                }

                p {
                    font-size: 0.93rem;
                    letter-spacing: -0.2px;
                    line-height: 1.7;
                    margin: 1.5rem 0 3rem;

                    @media (min-width: 768px) {
                        font-size: 1.1rem;
                        width: 530px;
                        margin: 1.5rem auto 3rem;
                    }
                }
            }




            // ================================= Form Container
            .form-and-pattern {
                @media (min-width: 1200px) {
                    position: relative;
                }




                // ================================= Pattern
                .form-pattern {
                    display: none;

                    @media (min-width: 1200px) {
                        display: initial;
                        position: absolute;
                        bottom: -40px;
                        left: -80px;
                    }
                }



                // ================================= Form
                form {
                    background-color: $light-bg;
                    width: 280px;
                    margin: 0 auto;
                    padding: 2rem 1rem;
                    text-align: left;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                    position: relative;
                    bottom: -50px;

                    @media (min-width: 360px) {
                        width: 310px;
                    }
                    @media (min-width: 411px) {
                        width: 350px;
                    }
                    @media (min-width: 540px) {
                        width: 450px;
                    }
                    @media (min-width: 768px) {
                        width: 550px;
                        padding: 3rem 2rem;
                    }
                    @media (min-width: 1200px) {
                        width: 570px;
                        padding: 3rem;
                        bottom: 0;
                    }




                    // =========== Error message
                    .error-msg {
                        display: none;
                        color: #B54949;
                        font-size: 0.75rem;
                        letter-spacing: -0.2px;
                        margin-top: 0.7rem;
                        padding-left: 0.8rem;
                    }       
    
                    .error-msg-dateTime {
                        padding-left: 0;
                    }

                    .show-error-msg {
                        display: block;
                    }




                    // =========== Form Group
                    .form-group {
                        &:first-of-type {
                            margin-bottom: 1rem;
                        }

                        @media (min-width: 768px) {
                            &:first-of-type {
                                margin-bottom: 2rem;
                            }
                        }

                        input {
                            color: #5c6779;
                            caret-color: $gold;
                            width: 100%;
                            padding: 0 0.8rem 0.5rem;
                            font-size: 1.15rem;
                            font-weight: $fw-light;
                            line-height: 1.5;
                            letter-spacing: -0.2px;
                            outline: none;
                            border-bottom: 1px solid rgba(142, 142, 142, 0.5);
                            cursor: pointer;
                            transition: all 0.25s ease-in-out;
    
                            &:hover {
                                border-bottom: 1px solid $dark-text;
                            }
    
                            &:focus {
                                border-bottom: 1px solid $dark-text;
                            }
                        }

                        .input-error {
                            border-bottom: 1px solid #B54949;
                        }
                    }




                    // =========== Form Group Date & Time
                    .form-group-dateTime {
                        margin: 2rem 0 0;

                        @media (min-width: 768px) {
                            display: flex;
                            gap: 2rem;
                            margin: 3rem 0 0;
                        }
                        @media (min-width: 1200px) {
                            gap: 4rem;
                        }



                        // ======= Group Description
                        .group-desc {
                            margin-bottom: 1rem;
    
                            .box-label {
                                color: $dark-text;
                                font-size: 1.2rem;
                                font-weight: $fw-light;
                                letter-spacing: -0.2px;
                                line-height: 1.5;
                            }
                        }




                        // =========== Date-Time input
                        .date-inputs-container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 2rem;
    
                            @media (min-width: 768px) {
                                width: 70%;
                            }
                            @media (min-width: 1200px) {
                                width: 60%;
                            }
    
                            select {
                                background: transparent;
                                width: 25%;
                                color: #5c6779;
                                text-align: center;
                                font-size: 1.15rem;
                                font-weight: $fw-light;
                                line-height: 1.5;
                                letter-spacing: -0.2px;
                                outline: none;
                                border-bottom: 1px solid rgba(142, 142, 142, 0.5);
                                cursor: pointer;
                                transition: all 0.25s ease-in-out;

                                &:hover {
                                    border-bottom: 1px solid $dark-text;
                                }
        
                                &:focus {
                                    border-bottom: 1px solid $dark-text;
                                }
                            }

                            .input-error {
                                color: #B54949;
                                border-bottom: 1px solid #B54949;
                            }
                        }
                    }




                    .form-group-time {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .date-inputs-container {
                            select {
                                width: 95%;
                            }
                        }
                    }




                    // =========== Select nr of people
                    .people-select {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 3rem 0 2rem;
                        padding: 0.5rem 0.8rem;
                        border-bottom: 1px solid rgba(142, 142, 142, 0.5);
    
                        button {
                            background: transparent;
                            color: #9e7f66;
                            border: none;
                            outline: none;
                            font-size: 1.5rem;
                            font-weight: $fw-bold;
                            cursor: pointer;
                            transition: all 0.25s ease-in-out;

                            &:hover {
                                color: $extra-dark-bg;
                            }
                            &:focus {
                                color: $extra-dark-bg;
                            }
                        }
    
                        p {
                            color: #5c6779;
                            font-size: 1.1rem;
                            font-weight: $fw-semi-bold;
                            letter-spacing: -0.2px;
                        }
                    }




                    // =========== Submit btn
                    .submit-btn {
                        background: $dark-bg;
                        color: $light-text;
                        width: 100%;
                        height: 65px;
                        font-size: 0.7rem;
                        text-transform: uppercase;
                        line-height: 1.4;
                        letter-spacing: 2px;
                        border: 1px solid $light-text;
                        cursor: pointer;
                        transition: all 0.25s ease-in-out;
                    
                        &:hover {
                            background: transparent;
                            color: $dark-text;
                            border: 1px solid $dark-bg;
                        }
                    
                        &:focus {
                            background: transparent;
                            color: $dark-text;
                            border: 1px solid $dark-bg;
                        }
                    }
                }
            }
        }
    }
}