.highlights-wrapper {
    background-color: $dark-bg;
    color: $light-text;
    padding: 4rem 0 3rem;

    @media (min-width: 768px) {
        padding: 6rem 0 4rem;
    }




    // ========================== Main Container
    .highlights-container {
        @include width-mixinn;

        @media (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2rem;
            padding: 5rem 0 3rem;
        }




        // ========================== Products Container
        .highlights-products {
            margin-top: 2rem;

            @media (min-width: 768px) {
                margin-top: 3rem;
            }
            @media (min-width: 1200px) {
                margin-top: 0;
            }




            // ========================== Card
            .product-card {
                text-align: center;
                padding: 2rem 0;
                border-bottom: 1px solid rgba(204, 204, 204, 0.2);

                &:last-of-type {
                    border-bottom: none;
                }

                @media (min-width: 768px) {
                    display: flex;
                    gap: 4rem;
                    text-align: left;
                    width: 550px;
                    margin: 0 auto;
                    padding: 1.5rem 0 1.5rem 1.5rem;
                }
                @media (min-width: 850px) {
                    width: 600px;
                }
                @media (min-width: 1200px) {
                    padding: 1.5rem 2rem;
                }




                // ========================== Line out of image & image size
                picture {
                    @media (min-width: 768px) {
                        position: relative;

                        &:before {
                            content: "";
                            display: block;
                            height: 1px;
                            width: 30px;
                            background-color: $gold;
                            position: absolute;
                            top: 40%;
                            right: -23%;
                        }
                    }

                    @media (min-width: 1200px) {
                        &:before {
                            top: 45%;
                            right: -25%;
                        }
                    }


                    img {
                        width: 300px;
                        margin-bottom: 2.5rem;
    
                        @media (min-width: 768px) {
                            width: 125px;
                            margin-bottom: 0;
                        }
                        @media (min-width: 1200px) {
                            width: 120px;
                        }
                    }
                }




                // ========================== Typography h3 & p
                h3 {
                    font-size: 1.15rem;
                    font-weight: $fw-bold;
                    line-height: 1.5;
                    letter-spacing: -0.2px;
                    margin-bottom: 0.5rem;

                    @media (min-width: 768px) {
                        font-size: 1.1rem;
                    }
                }

                p {
                    font-size: 0.92rem;
                    font-weight: $fw-regular;
                    line-height: 1.8;
                    letter-spacing: -0.2px;
                }
            }
        }
    }
}