.preFooter-wrapper {
    background: url("../Assets/ready-bg-mobile.jpg") top/cover no-repeat;
    object-fit: cover;
    padding: 5.5rem 0;

    @media (min-width: 411px) {
        padding: 5rem 0;
    }
    @media (min-width: 768px) {
        background: url("../Assets/ready-bg-tablet.jpg") top/cover no-repeat;
    }
    @media (min-width: 1200px) {
        background: url("../Assets/ready-bg-desktop.jpg") center/cover no-repeat;
        padding: 5.5rem 0;
    }




    .preFooter-container {
        @include width-mixinn;
        color: $light-text;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        @media (min-width: 1200px) {
            flex-direction: row;
            justify-content: space-between;
        }
    
    
    
    
        h2 {
            font-size: 1.8rem;
            font-weight: $fw-extra-bold;
            line-height: 1.3;
            margin-bottom: 1.5rem;
    
            @media (min-width: 500px) {
                width: 500px;
            }
            @media (min-width: 700px) {
                width: auto;
            }
            @media (min-width: 768px) {
                font-size: 2.2rem;
            }
            @media (min-width: 1200px) {
                font-size: 2.4rem;
            }
        }
    }
}