.btn {
  background: transparent;
  color: #ffffff;
  padding: 1.3rem 3.5rem;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background: #ffffff;
  color: #111111;
}

.btn:focus {
  background: #ffffff;
  color: #111111;
}

.btn-dark {
  background: #111111;
  color: #ffffff;
  border: 1px solid transparent;
}

.btn-dark:hover {
  background: #ffffff;
  color: #111111;
  border: 1px solid #ffffff;
}

.btn-dark:focus {
  background: #ffffff;
  color: #111111;
  border: 1px solid #ffffff;
}

.text-card-container {
  text-align: center;
  color: #2a313d;
}

@media (min-width: 768px) {
  .text-card-container {
    width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .text-card-container {
    text-align: left;
  }
}

.text-card-container img {
  width: initial;
}

.text-card-container h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin: 2rem 0 1rem;
}

@media (min-width: 360px) {
  .text-card-container h2 {
    font-size: 2rem;
  }
}

@media (min-width: 540px) {
  .text-card-container h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .text-card-container h2 {
    font-size: 2.7rem;
  }
}

@media (min-width: 1200px) {
  .text-card-container h2 {
    font-size: 2.5rem;
    margin: 2rem 0 1.5rem;
  }
}

.text-card-container p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

@media (min-width: 768px) {
  .text-card-container p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .text-card-container p {
    font-size: 16.5px;
  }
}

.text-card-white {
  color: #ffffff;
}

@media (min-width: 768px) {
  .about-wrapper {
    background-image: url("../Assets/pattern-curve-bottom-right.svg"), url("../Assets/pattern-curve-top-left.svg");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position-y: 15%, 100%;
    background-position-x: 400%, -300%;
  }
}

@media (min-width: 1200px) {
  .about-wrapper {
    background-size: 50%;
    background-position-y: 20%, 100%;
    background-position-x: -20%, 100%;
  }
}

.about-wrapper .about-container {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .about-wrapper .about-container {
    padding-bottom: 9rem;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .about-wrapper .about-container {
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .about-wrapper .about-container .about-card {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-wrapper .about-container .about-img {
  width: 100%;
  margin-top: -4rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media (min-width: 768px) {
  .about-wrapper .about-container .about-img {
    width: 90%;
    margin-top: -6rem;
  }
}

@media (min-width: 1200px) {
  .about-wrapper .about-container .about-img {
    width: 60%;
    margin-top: -5rem;
  }
}

.about-wrapper .about-card-reverse {
  position: relative;
}

.about-wrapper .about-card-reverse .about-img {
  margin: 4rem 0 3rem;
}

@media (min-width: 1200px) {
  .about-wrapper .about-card-reverse .about-img {
    float: right;
    margin-bottom: -5rem;
  }
}

.about-wrapper .about-card-reverse .pattern-img {
  display: none;
}

@media (min-width: 768px) {
  .about-wrapper .about-card-reverse .pattern-img {
    display: initial;
    position: absolute;
    right: -30px;
    top: 40%;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  .about-wrapper .about-card-reverse .pattern-img {
    right: -70px;
    top: 50%;
    width: 150px;
  }
}

body {
  background-color: #ffffff;
  color: #111111;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}

header {
  background: url("../Assets/hero-bg-mobile.jpg") center/cover no-repeat;
  height: 110vh;
}

@media (min-width: 768px) {
  header {
    background: url("../Assets/hero-bg-tablet.jpg") center/cover no-repeat;
    height: 62rem;
  }
}

@media (min-width: 1100px) {
  header {
    background: url("../Assets/hero-bg-desktop.jpg") top/cover no-repeat;
    height: 88vh;
  }
}

footer {
  background-color: #111111;
  color: #ffffff;
}

.header-wrapper .header-container {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 11rem;
  text-align: center;
}

@media (min-width: 360px) {
  .header-wrapper .header-container {
    padding-top: 13.5rem;
  }
}

@media (min-width: 411px) {
  .header-wrapper .header-container {
    padding-top: 16rem;
  }
}

@media (min-width: 500px) {
  .header-wrapper .header-container {
    padding-top: 19rem;
  }
}

@media (min-width: 600px) {
  .header-wrapper .header-container {
    padding-top: 22rem;
  }
}

@media (min-width: 700px) {
  .header-wrapper .header-container {
    padding-top: 25rem;
  }
}

@media (min-width: 768px) {
  .header-wrapper .header-container {
    padding-top: 23rem;
  }
}

@media (min-width: 1200px) {
  .header-wrapper .header-container {
    padding-top: 5rem;
    text-align: left;
  }
}

.header-wrapper .header-container h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.4px;
  margin: 2rem 0;
}

@media (min-width: 411px) {
  .header-wrapper .header-container h1 {
    max-width: 300px;
    margin: 2rem auto;
  }
}

@media (min-width: 768px) {
  .header-wrapper .header-container h1 {
    font-size: 3rem;
    line-height: 1.3;
    max-width: 400px;
    margin: 1.5rem auto;
  }
}

@media (min-width: 1200px) {
  .header-wrapper .header-container h1 {
    font-size: 4rem;
    max-width: 600px;
    margin: 6rem 0 1.5rem;
  }
}

.header-wrapper .header-container p {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.2px;
  margin-bottom: 2rem;
}

@media (min-width: 411px) {
  .header-wrapper .header-container p {
    max-width: 400px;
    margin: 0 auto 2rem;
  }
}

@media (min-width: 768px) {
  .header-wrapper .header-container p {
    font-size: 1.1rem;
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .header-wrapper .header-container p {
    padding-top: 0;
    max-width: 450px;
    margin: 0 0 2rem;
  }
}

.highlights-wrapper {
  background-color: #111111;
  color: #ffffff;
  padding: 3rem 0;
}

.highlights-wrapper .highlights-container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
    padding: 5rem 0 3rem;
  }
}

.highlights-wrapper .highlights-container .highlights-desc {
  text-align: center;
}

@media (min-width: 768px) {
  .highlights-wrapper .highlights-container .highlights-desc {
    width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container .highlights-desc {
    text-align: left;
  }
}

.highlights-wrapper .highlights-container .highlights-desc h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin: 2rem 0 1rem;
}

@media (min-width: 360px) {
  .highlights-wrapper .highlights-container .highlights-desc h2 {
    font-size: 2rem;
  }
}

@media (min-width: 540px) {
  .highlights-wrapper .highlights-container .highlights-desc h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .highlights-wrapper .highlights-container .highlights-desc h2 {
    font-size: 2.7rem;
  }
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container .highlights-desc h2 {
    font-size: 2.5rem;
    margin: 2rem 0 1.5rem;
  }
}

.highlights-wrapper .highlights-container .highlights-desc p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.2px;
}

@media (min-width: 768px) {
  .highlights-wrapper .highlights-container .highlights-desc p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container .highlights-desc p {
    font-size: 16.5px;
  }
}

.highlights-wrapper .highlights-container .highlights-products {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .highlights-wrapper .highlights-container .highlights-products {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container .highlights-products {
    margin-top: 0;
  }
}

.highlights-wrapper .highlights-container .highlights-products .product-card {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

.highlights-wrapper .highlights-container .highlights-products .product-card:last-of-type {
  border-bottom: none;
}

@media (min-width: 768px) {
  .highlights-wrapper .highlights-container .highlights-products .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    text-align: left;
    width: 550px;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container .highlights-products .product-card {
    width: 650px;
    gap: 5rem;
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 768px) {
  .highlights-wrapper .highlights-container .highlights-products .product-card picture {
    position: relative;
  }
  .highlights-wrapper .highlights-container .highlights-products .product-card picture:before {
    content: "";
    display: block;
    height: 1.5px;
    width: 30px;
    background-color: #9e7f66;
    position: absolute;
    top: 35%;
    right: -23%;
  }
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container .highlights-products .product-card picture:before {
    top: 45%;
    right: -25%;
  }
}

.highlights-wrapper .highlights-container .highlights-products .product-card img {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .highlights-wrapper .highlights-container .highlights-products .product-card img {
    width: 130px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .highlights-wrapper .highlights-container .highlights-products .product-card img {
    width: 120px;
  }
}

.highlights-wrapper .highlights-container .highlights-products .product-card h3 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.2px;
  margin-bottom: 0.5rem;
}

.highlights-wrapper .highlights-container .highlights-products .product-card p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.2px;
}

.gatherings-wrapper {
  position: relative;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .gatherings-wrapper {
    background: url("../Assets/pattern-curve-top-right.svg");
    background-repeat: no-repeat;
    background-size: 350px;
  }
}

@media (min-width: 1200px) {
  .gatherings-wrapper {
    background-size: 750px;
    background-position-x: -200px;
  }
}

.gatherings-wrapper .lines-pattern {
  display: none;
}

@media (min-width: 768px) {
  .gatherings-wrapper .lines-pattern {
    display: initial;
    position: absolute;
    top: 57px;
    left: 20px;
    height: 45px;
  }
}

@media (min-width: 1200px) {
  .gatherings-wrapper .lines-pattern {
    top: 65px;
    left: 250px;
    height: 55px;
  }
}

.gatherings-wrapper .gatherings-container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .gatherings-wrapper .gatherings-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10rem;
  }
}

.gatherings-wrapper .gatherings-container img {
  width: 100%;
  -webkit-box-shadow: #2f3338 0px 20px 30px -10px;
          box-shadow: #2f3338 0px 20px 30px -10px;
}

.gatherings-wrapper .gatherings-container .gatherings-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  text-align: center;
}

@media (min-width: 1200px) {
  .gatherings-wrapper .gatherings-container .gatherings-card-info {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-info {
    width: 500px;
    margin: 0 auto;
  }
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-info h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.4px;
  margin-top: 1.5rem;
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-info p {
  margin: 1.5rem 0 3rem;
  font-size: 1rem;
  letter-spacing: -0.2px;
  line-height: 1.5;
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-info .gatherings-btn {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid transparent;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1.7rem 4rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-info .gatherings-btn:hover {
  background: transparent;
  border: 2px solid #000000;
  color: #000000;
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-card-btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-card-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 5rem;
  }
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-card-btns button {
  background: transparent;
  color: #5e5e5e;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 2;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin-bottom: 1rem;
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-card-btns .btn-active {
  color: #41362f;
}

.gatherings-wrapper .gatherings-container .gatherings-card-info .gatherings-card-btns .btn-active:after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background-color: #9e7f66;
  margin: 0 auto;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.preFooter-container {
  background: url("../Assets/ready-bg-mobile.jpg") center/cover no-repeat;
  width: 100%;
  height: calc(656px / 2);
  -o-object-fit: cover;
     object-fit: cover;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .preFooter-container {
    background: url("../Assets/ready-bg-tablet.jpg") center/cover no-repeat;
    height: calc(544px / 2);
  }
}

@media (min-width: 1300px) {
  .preFooter-container {
    background: url("../Assets/ready-bg-desktop.jpg") center/cover no-repeat;
    height: calc(480px / 2);
  }
}

.preFooter-container h2 {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .preFooter-container h2 {
    font-size: 2rem;
  }
}

.footer-container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 1300px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4rem 0;
  }
}

.footer-container .footer-group {
  line-height: 2;
}

.footer-container .footer-group p {
  font-size: 14px;
}

.footer-container .footer-group:first-of-type {
  margin: 3rem 0;
}

@media (min-width: 1200px) {
  .footer-container .footer-group:first-of-type {
    margin: 0;
  }
}

.main-rsv-wrapper {
  background: url("../Assets/ready-bg-mobile.jpg") bottom/cover no-repeat;
  height: 50vh;
}

@media (min-width: 768px) {
  .main-rsv-wrapper {
    background: url("../Assets/ready-bg-tablet.jpg") center/cover no-repeat;
  }
}

@media (min-width: 1200px) {
  .main-rsv-wrapper {
    background: url("../Assets/ready-bg-desktop.jpg") center/cover no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */