@import "config";


body {
    background-color: $light-bg;
    color: $dark-text;
    font-family: $ff-main;
    font-weight: $fw-regular;
    line-height: 1;
    letter-spacing: 1px;
}



.btn {
    padding: 1.2rem 4.7rem;
    background: transparent;
    border: 2px solid $light-text;
    color: $light-text;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: $fw-bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
        background-color: $light-bg;
        color: $dark-text;
    }

    &:focus {
        background-color: $light-bg;
        color: $dark-text;
    }
}




header {
    background: url("../Assets/hero-bg-mobile.jpg") top/cover no-repeat;
    height: 35vh;

    @media (min-width: 768px) { 
        background: url("../Assets/hero-bg-tablet.jpg") top/cover no-repeat;
    }

    @media (min-width: 1100px) { 
        background: url("../Assets/hero-bg-desktop.jpg") top/cover no-repeat;
        height: 90vh;
    }
}



footer {
    background-color: $dark-bg;
    color: $light-text;
}




@import "header";
@import "highlights";
@import "gatherings";
@import "preFooter";
@import "footer";