@import "config";
@import "button";
@import "textCard";
@import "about";


body {
    background-color: $light-bg;
    color: $dark-text;
    font-family: $ff-main;
    font-weight: $fw-regular;
    line-height: 1;
    letter-spacing: 1px;
}



header {
    background: url("../Assets/hero-bg-mobile.jpg") center/cover no-repeat;
    height: 110vh;

    @media (min-width: 768px) { 
        background: url("../Assets/hero-bg-tablet.jpg") center/cover no-repeat;
        height: 62rem;
    }

    @media (min-width: 1100px) { 
        background: url("../Assets/hero-bg-desktop.jpg") top/cover no-repeat;
        height: 88vh;
    }
}



footer {
    background-color: $dark-bg;
    color: $light-text;
}


.decoration-wrapper {
    height: 550px;
    

    @media (min-width: 768px) { 
        height: 450px;
    }

    @media (min-width: 1100px) { 
        height: 350px;
    }
}





@import "header";
@import "highlights";
@import "gatherings";
@import "preFooter";
@import "footer";
@import "mainRsv";